body{
  /* background-image: url('../media/newyork.jpg'); */
  background-color: #555;
  /* background-repeat: no-repeat;
  background-size: cover; */
  display: block;

}

.header-im{
  text-align: center;
  margin: 0 auto;

  padding: 20px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background:#eee;
}

.skills
{
  border-radius: 3%;
  height: 700px;
  width: auto;
}

.my-works
{
  border-radius: 3%;
  color: white;
  text-align: center;
  height: 700px;
  width: auto;
}

#navbar{
  position: sticky;
  top: 0 ;
}
.about-me
{
  border-radius: 3%;

  text-align: center;
  height: 700px;
  width: auto;
}
.about-me img{
  width: 300px;
  height: 300px;

}

#contact-me{

  background: #eee;
  margin:100px auto;

  width: 90%;
  padding: 20px;
}

.contact-me-header{
  float: right;
}

.btn:hover{
  background-color: rgb(154, 243, 250);
  color: black;
}


#contact-me a{
  color: darkgreen;
}
/* .container{
  background: url('media/fox.png');
} */
