body{
  background-image: url('../media/fox.jpg');
  background-color: #555;
  /* background-repeat: no-repeat;
  background-size: cover; */
  display: block;

}

.header-im{
  opacity: 0.8;

  text-align: center;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background:#eee;
}

.skills{
  opacity: 0.8;
  border-radius: 3%;
  height: 700px;
  width: auto;
}

.my-works{
  opacity: 0.8;

  border-radius: 3%;
  color: white;
  text-align: center;
  height: 700px;
  width: auto;
}

#navbar{
  position: sticky;
  top: 0 ;
  z-index: 1;
}

.about-me{
  border-radius: 3%;
  opacity: 0.8;
  text-align: center;
  height: 700px;
  width: auto;
}
#avatar{
    border: 2px solid rgb(33, 36, 28);
    width: 200px;
    height: auto;
}

.about-me img{
  width: 300px;
  height: 300px;

}

#contact-me{
  opacity: 0.8;


  background: #eee;
  margin:100px auto;

  width: 90%;
  padding: 20px;
}

.contact-me-header{
  float: right;
}

.btn:hover{
  background-color: rgb(154, 243, 250);
  color: black;
}


#contact-me a{
  color: darkgreen;
}
#contact-me a:hover{
  color: white;
  background: darkgreen;
}
/* .container{
  background: url('media/fox.png');
} */
