body{
  /* background-image: url('../media/wall.jpg'); */
  background-color: #555;
  /* background-repeat: no-repeat; */
  background-size: cover;
  display: block;

}

.header-im{
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background:#eee;
}

.skills{
  border-radius: 3%;
  height: 110%;
  width: auto;
}

.my-works{
  border-radius: 3%;
  color: white;
  text-align: center;
  height: 110%;
  width: auto;
}

#navbar{
  position: sticky;
  top: 0 ;
  z-index: 1;
}

.about-me{
  border-radius: 3%;
  text-align: center;
  height: 110%;
  width: auto;
}
#avatar{
    opacity: 1;
    border: 2px solid rgb(33, 36, 28);
    width: 200px;
    height: auto;
}

.about-me img{
  width: 300px;
  height: 300px;

}

#contact-me{
  opacity: 0.8;


  background: #eee;
  margin:100px auto;

  width: 90%;
  padding: 20px;
}

.contact-me-header{
  float: right;
}

.btn:hover{
  background-color: rgb(154, 243, 250);
  color: black;
}

.bigs{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
.container{
  text-align: center;
}

.bigs i{
  font-size: 600%;
  width: 18%;

}
#contact-me a{
  color: darkgreen;
}
#contact-me a:hover{
  color: white;
  background: darkgreen;
}

.gohight{
  position: sticky;
  bottom: 5%;
  left: 5%;
  float: right;
  width: 5%;
  height: auto;

}
