body{
  /* background-image: url('../media/newyork.jpg'); */
  background-color: #0ac;
  /* background-repeat: no-repeat;
  background-size: cover; */
  display: block;

}

.header-im{
  text-align: center;
  margin: 0 auto;

  padding: 20px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: rgba(233, 233, 233, 0.52);
}

.skills
{
  height: 700px;
  width: auto;
}

.my-works
{
  text-align: center;
  height: 700px;
  width: auto;
}

#navbar{
  position: sticky;
  top: 0 ;
}
.about-me
{
  text-align: center;
  height: 700px;
  width: auto;
}
.about-me img{
  max-width: 10%;

}

#contact-me{
  background: rgba(233, 233, 233, 0.52);
  margin:100px auto;

  width: 90%;
  padding: 20px;
}

.contact-me-header{
  float: right;
}

.btn:hover{
  background-color: rgb(154, 243, 250);
  color: black;
}

/* btn a:hover{
  color: black;
} */
#contact-me a{
  color: darkgreen;
}
/* .container{
  background: url('media/fox.png');
} */
